---
layout: default
---

<div id="index" class="row">
    <div class="col-sm-8">
        <div class="post-region">
            
            <div class="post-article-body">
                <div class="all-posts" post-cate="All">
                    {% for post in paginator.posts %}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="post-article-item">
                        <div class="col-sm-2 text-center md-no-padding">
                           <span class="post-time">
                            <span class="day">{{ post.date | date: "%d" }}</span>
                            {{ post.date | date: "%m月 %Y" }}
                           </span>
                        </div>
                       <div class="col-sm-10 no-padding-right">
                        <h2>
                            {{ post.title }}
                        </h2>
                        <p class="excerpt">
                            {{ post.excerpt }}
                        </p>
                       </div>
                        </a>
                    {% endfor %}
                    <!--分页-->
                <div class="paginator">
                     {% if paginator.previous_page %}
                        <span class="pre">
                          {% if paginator.previous_page == 1 %}
                            <a href="/">上一页</a>
                          {% else %}
                            <a href="{{ paginator.previous_page_path }}">上一页</a>
                          {% endif %}
                        </span>
                      
                      {% endif %}

                          {% if paginator.page == 1 %}
                            <span class="current-page">1</span>
                          {% else %}
                            <a class="page" href="/">1</a>
                          {% endif %}
                        </span>

                        {% for count in (2..paginator.total_pages) %}
            
                            {% if count == paginator.page %}
                              <span class="current-page">{{ count }}</span>
                            {% else %}
                              <a class="page" href="/page{{ count }}">{{ count }}</a>
                            {% endif %}
                          </span>
                        {% endfor %}


                      {% if paginator.next_page %}
                        <span class="next">
                          <a href="{{ paginator.next_page_path }}">下一页</a>
                        </span>
                      
                      {% endif %}
                    
                </div>
                </div>
                <!-- <div class="posts-in-categories"> -->
                {% for category in site.categories %}
                    <div class="all-posts" post-cate="{{category | first}}">
                        {% for posts in category %}
                            {% for post in posts %}
                                   {% if post.url %}
                                    <a href="{{ post.url | prepend: site.baseurl }}" class="post-article-item">
                                       <div class="col-sm-2 text-center md-no-padding">
                                           <span class="post-time">
                                               <span class="day">{{ post.date | date: "%d" }}</span>
                                            {{ post.date | date: "%m月 %Y" }}
                                           </span>
                                        </div>
                                       <div class="col-sm-10 no-padding-right">
                                        <h2>
                                            {{ post.title }}
                                        </h2>
                                        <p class="excerpt">
                                            {{ post.excerpt }}
                                        </p>
                                       </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <div class="shadow-corner-curl hidden-xs">
                <div class="cate-list-header cate-show">
                    <h2>博文分类</h2> 
                </div>

                <a href="javascript:;" class="cate-list-item" cate="All">所有文章<span class="my-badge">{{ site.posts | size }}</span></a>
                {% for category in site.categories order:ascending %}
                    <a href="javascript:;" class="cate-list-item" cate="{{ category | first }}">{{ category | first }} <span class="my-badge">{{ category | last | size }}</span></a>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-12">
            <div class="shadow-corner-curl hidden-xs message">
                <div class="cate-list-header cate-show">
                    <h2>文章标签</h2>
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}

                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
                </div>


            </div>
        </div>

       <div class="col-sm-12">
            <div class="shadow-corner-curl hidden-xs message">
                <div class="cate-list-header cate-show">
                    <h2>技术博客</h2>
                </div>
                <div class="cate-list-link">
                    <ul>
                       <li><a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭</a></li>
                       <li><a href="http://zhangwenli.com/blog/" target="_blank">张雯莉</a></li>
                        <li><a href="https://www.anotherhome.net">Anotherhome</a></li>
                        <li><a href="http://fiona23.github.io/">枳(主页很文艺)</a></li>
                        <li><a href="http://cheqianxiao.github.io">车前晓</a></li>
                        <li><a href="http://caibaojian.com/" target="_blank">前端开发博客</a></li>
                        <li><a href="http://www.jobbole.com/" target="_blank" >伯乐在线</a></li>
                    </ul>

                </div>


            </div>
        </div>
    </div>

</div>
