---
layout: default
---

<div id="index" class="row">
    <div class="col-sm-9">
        <div class="post-area">
            
            <div class="post-list-body">
                <div class="all-posts" post-cate="All">
                    {% for post in paginator.posts %}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                        <span class="post-time">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </span>
                        <h2>
                            {{ post.title }}
                        </h2>
                        
                        <p>
                            {{ post.excerpt }}
                        </p></a>
                    {% endfor %}
                    <!--分页-->
                <div class="paginator">
                     {% if paginator.previous_page %}
                        <span class="pre">
                          {% if paginator.previous_page == 1 %}
                            <a href="/">上一页</a>
                          {% else %}
                            <a href="{{ paginator.previous_page_path }}">上一页</a>
                          {% endif %}
                        </span>
                      
                      {% endif %}

                          {% if paginator.page == 1 %}
                            <span class="current-page">1</span>
                          {% else %}
                            <a class="page" href="/">1</a>
                          {% endif %}
                        </span>

                        {% for count in (2..paginator.total_pages) %}
            
                            {% if count == paginator.page %}
                              <span class="current-page">{{ count }}</span>
                            {% else %}
                              <a class="page" href="/page{{ count }}">{{ count }}</a>
                            {% endif %}
                          </span>
                        {% endfor %}


                      {% if paginator.next_page %}
                        <span class="next">
                          <a href="{{ paginator.next_page_path }}">下一页</a>
                        </span>
                      
                      {% endif %}
                    
                </div>
                </div>
                <!-- <div class="posts-in-categories"> -->
                {% for category in site.categories %}
                    <div post-cate="{{category | first}}">
                        {% for posts in category %}
                            {% for post in posts %}
                                   {% if post.url %}
                                    <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                                        <span class="post-time">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </span>
                        <h2>
                            {{ post.title }}
                        </h2>
                        
                        <p>
                            {{ post.excerpt }}
                        </p>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <div class="shadow-corner-curl hidden-xs">
                <div class="cate-list-header">
                    <h2>博文分类</h2>
                </div>

                <a href="javascript:;" class="cate-list-item" cate="All">所有文章<span class="my-badge">{{ site.posts | size }}</span></a>
                {% for category in site.categories order:ascending %}
                    <a href="javascript:;" class="cate-list-item" cate="{{ category | first }}">{{ category | first }} <span class="my-badge">{{ category | last | size }}</span></a>
                {% endfor %}
            </div>
        </div>

       <div class="col-sm-12">
            <div class="shadow-corner-curl hidden-xs message">
                <div class="cate-list-header">
                    <h2>友情链接</h2>
                </div>
                <div class="cate-list-link">
                   <span>这里是我建站前参考过的博客，需要的也可留言交换博客链接哟</span>
                    <ul>
                        <li><a href="http://gaohaoyang.github.io/">HyG</a></li>
                        <li><a href="http://aralic.github.io/">Aralic</a></li>
                        <li><a href="http://zhangwenli.com/blog/">Wenli Zhang</a></li>
                    </ul>

                </div>


            </div>
        </div>
    </div>

</div>
