<footer id="foot" class="">
           <div class="footerImg"></div>
           <div class="contact">
               <a href="{{ site.baseurl }}/about" class="btn"><span class="icon icon-pacman"></span> 联系我</a>
               <a href="{{ site.baseurl }}/about" class="btn"><span class="icon icon-bookmark"></span> 关于我</a>
           </div>
            <div class="footerPart">
                <span>&copy; 二〇一五 年 十一月</span>
                <span class="point"> ● </span>
                <span>Designed by <a href="http://weibo.com/u/2766023655"> 我所以为的世界</a></span>
            </div>
    
</footer>