<!--<footer id="foot" class="">
    <div class="contact">
        <a href="{{ site.baseurl }}/about" class="btn"><span class="icon icon-pacman"></span> 联系我</a>
        <a href="{{ site.baseurl }}/about" class="btn"><span class="icon icon-bookmark"></span> 关于我</a>
    </div>
    <div class="footerPart">
        <span>&copy; 二〇一五 年 十一月</span>
        <span class="point"> ● </span>
        <span>Designed by <a href="http://weibo.com/u/2766023655"> 我所以为的世界</a></span>
    </div>
</footer>-->
<footer id="foot">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 first">
                    <h3>关于我</h3>
                    <p class="foot-about-par">
                        前端工程师一枚
                    </p>
                    <div class="social-list">
                        <a href="#"><i class="fa fa-qq"></i></a>
                        <a href="#"><i class="fa fa-wechat"></i></a>
                        <a href="#"><i class="fa fa-weibo"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
