<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="main" class="container main">
        {{ content }}
    </div>

  <a href="#" class="to-top"></a>
   <!--<div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
       <a href="javascript:;">
           <div class="arrow"></div>
           <div class="stick"></div>
       </a>
   </div>-->
   
    {% include footer.html %}
    
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <!-- 来必力City版安装代码 -->
    <div id="lv-container" data-id="city" data-uid="MTAyMC8zMzUyOS8xMDA4NQ==">
    <script type="text/javascript">
       (function(d, s) {
           var j, e = d.getElementsByTagName(s)[0];

           if (typeof LivereTower === 'function') { return; }

           j = d.createElement(s);
           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
           j.async = true;

           e.parentNode.insertBefore(j, e);
       })(document, 'script');
    </script>
    <noscript>为正常使用评论功能请激活JavaScript</noscript>
    </div>
    <!-- City版安装代码已完成 -->
    <!-- 多说公共JS代码 end -->
    
    <!-- 百度分享 begin-->
    
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","weixin","renren","douban","huaban"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","weixin","renren","douban","huaban"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    
    <!-- end -->
    
    <!-- 在新窗口中打开 -->
  <script type="text/javascript">
    function addBlankTargetForLinks () {
      $('a[href^="http"]').each(function(){
          $(this).attr('target', '_blank');
      });
    }
    //每次在有DOM插入时触发
    $(document).bind('DOMNodeInserted', function(event) {
      addBlankTargetForLinks();
    });
  </script>

  </body>

</html>
