---
layout: default
---
<div class="row"> 
    <div id="myArticle" class="col-sm-9">
        <div class="post-area post">
              <header>
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • By {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} <span class="icon icon-clock"></span></p>
              </header>
            <hr>
                  <article>
                    {{ content }}
                  </article>
            <hr>
            
            <div class="bdsharebuttonbox"><p>若是觉得这篇文章有帮助，可以分享给他人哟~</p><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_huaban" data-cmd="huaban" title="分享到花瓣"></a></div>
        </div>
        
        <div class="post-area post comment">
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC8zMzUyOS8xMDA4NQ==">
        <script type="text/javascript">
           (function(d, s) {
               var j, e = d.getElementsByTagName(s)[0];

               if (typeof LivereTower === 'function') { return; }

               j = d.createElement(s);
               j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
               j.async = true;

               e.parentNode.insertBefore(j, e);
           })(document, 'script');
        </script>
        <noscript>为正常使用评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
        </div>
    </div>
    <div id="content" class="col-sm-3 hidden-xs">
        <div id="myAffix" class="shadow-bottom-center">
            <div class="cate-list-header">
                <h3>Blog导读</h3>
            </div>
            <div class="content-text"></div>
        </div>
    </div>

</div>
